.facility {
    min-height: 100vh;
}

.facility-bg {
    color: blue;
}

.facility .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}

.facility .box-container .box {
    height: 20rem;
    width: 30rem;
    margin: .3rem;
    overflow: hidden;
}

.facility .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.facility .box-container .box:hover img {
    transform: scale(1.3);
}